/* OK IT looks as though it may be smart to use margin 0 auto only on..
everything BUT NOT HEADER AND FOOTER,THESE SHOULD BE MOVED OUTSIDE OF...
A MAIN CONTAINER , and then the main container should get the margin 0 auto
*/


@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');

*{
    margin: 0 auto; 
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
    text-align: center;
}

#footer-wrapper {
    background-color: black;
    position: fixed;
    bottom: 0;
    
  margin: auto;
  width: 100%;
}

#timer-wrapper {
    background-image: url('img/gloriousLiquor.jpg');
    background-size: cover;
    height: 100px;
    width: 80%;
    margin: auto;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 40px;

}




body {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: black;  
    color: white; 
      
}
#todo {
    background-color: red;
    font-size: 6px;
}

/*this will hold the footer stuck*/
#page-main-element{
    margin-bottom: 4%;
}

/*start test flex*/

#right-text{
    width: 90%;
    display: inline; /*makes the two spans sit together instead of stacking vertically*/
    float: left; /*pulls to the side of the div*/
    padding-left: 10px;
}
.fa-check-square:before {
    position: relative; /*The icon was glitching upwards, this plus height in icon fixed it*/
    top: 14%;
}
#test-icon{
    height: 20px; /*dont change this needed for vertical centering in fa-check-square:before */
    width: 10%;
    display: inline; /*makes the two spans sit together instead of stacking vertically*/
    float: right;/*pulls to the side of the div*/
    padding-right: 10px;
}
.right{
    padding:0;
    margin:0 auto;
    background-color: green;
    grid-column:  4/ span 1;
    grid-row: 1/ span 2;
    /* align-self: center; */
}
.test-wrapper{  
    height: 20px;
    width: auto;
    outline: 1px solid red;
    display: grid;
    grid-template-columns: 22% auto 22%;    
}




/*end test flex*/

/*start test 2*/

#test2-wrapper{
    background-color: blue;
    width: 20%;
    flex-direction: row;
    float: right;
    margin-right: 5%;
    /* visibility: hidden; */
}
#test2-text{
    display: inline;
    float: left;
    padding-left: 10%;
}
#test2-icon{
    float: right;
    padding-right: 15px;
    padding-top: 1.5%;
    display: inline;
    align-self: center;
    
} 

/*end test 2*/

/*start homestore button*/

#home-store-button{
    background-color: blue;
    width: 300px;
    flex-direction: row;
    float: right;
    margin-right: 5%;
    margin-top: 5px;
    margin-bottom: 10px;
}
#home-store-text{
    display: inline;
    float: left;
    padding-left: 10%;
}
#home-store-icon{
    float: right;
    padding-right: 15px;
    padding-top: 1.5%;
    display: inline;
    align-self: center;
    
} 

/*end homestore button*/







/* For desktop: */
@media only screen and (min-width: 1px) {

/* begin test section homestore */
/* #test-div {
    background-color: green;
    color: yellow;
    height: 50px;
}

.fa-solid fa-square-check {
    outline: 1px solid red;
    height: 90px;
    width: 50%;
    color: white;
} */

/* end test section homestore */
    
/* begin main header */
        #main-header{
            background-color: whitesmoke;
            color: black;
            width: 90%;
            padding: 20px;
            margin: 25px auto;
            border-radius: 17px;
            font-size: 24px; 
        }
    
        #canvas {
            height: 115;
            width: 115;
            float: right;
        }
        
        #page-title{
            float: left;
            font-size: larger;
        }
        
        /*clearfix*/
        #main-header:after { 
            content:"";
            display: table;
            clear: both;
        }
    
        #main-header {
            display: flex;
            align-items: center
        }
    
/* end main header */

/* begin search bar */
    .input {
        border: 0;
        outline: none;
        background-color: whitesmoke;
    } 

    .search-wrap {
        width: 100%;
        margin: 30px auto;
    }

    .search-wrap .search-box {
        position: relative;
        width: 80%;
        height: 60px;
    }

    .search-wrap .search-box .input {
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        padding: 10px 20px;
        border-radius: 7px;
        font-size: 18px;
        text-align: left;
    }

    .search-wrap .search-box .btn.btn-common .fas {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-size: 20px;
    }

    .search-wrap .search-box .btn{
        right: 0;
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    #search-button {
        position: absolute;
        top:0;
        right:0;
        width: 60px;
        height: 100%;
        background: #333;
        z-index: 1;
        cursor: pointer;    
        border-top-right-radius: 7px;
        border-bottom-right-radius: 7px;
    }

    .search-wrap .search-box .btn #search-button:hover {
        background: black;
    }

/* end search bar */

/*begin buttons */

    /*clickable buttons (these are the search results)*/

    .clickable {
        display: block;
        margin-top: 12px;
        background-color: whitesmoke;
        padding: 5px 10px;
        width: 60%;
        border-radius: 5px;
    }

    .clickable:hover {
        background-color: #333;
        color: whitesmoke
    }

    /*all buttons except .clickable */
    #show-more-results, #search-again-button {
        display: block;
        background-color: #333;
        color: whitesmoke;
        margin-top: 25px;
        border-radius: 3px;
        padding: 10px;
    }

     #show-more-results:hover, #search-again-button:hover, #home-store-button:hover {
        background-color: whitesmoke;
        color:black
    }

/*end buttons */

/*#canvas do not set height or width here, glitchy, in js instead*/

/*
ok, for some reason the time and date elements will not display block
so either just run them together, date first then time or, try grid display
*/
#time-and-date-element {
    width: 90%;
    margin-top: 30px;
    position: relative; /*need this to position the button absolute*/
}

#time-and-date-element:after {
    content:"";
    display: table;
    clear: both;
}

#date-wrapper-div {
    display: block;
}

#time-wrapper-div {
    display: block;
    float:left;
}

#store-info-content-holder {
    margin-top: 30px;
}


        
}




















